.bg-darker {
    background-color: #232323;
}

@media (min-width: 768px) {
    .w-md-75 {
        width: 75% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }
}

@media (min-width: 992px) {
    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }
}

.preload {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #77b3d4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preload .home-text {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    color: white;
    font-family: sans-serif;
}

.plane {
    width: 50%;
    height: 50%;
    animation: airplane 3s ease-in-out infinite alternate;
}

.cloud1,
.cloud2,
.cloud3 {
    height: 20%;
    position: absolute;
    z-index: -1;
}

.cloud1 {
    top: 25%;
    transform: translate(100%, -25%);
    animation: clouds 13s ease infinite;
}

.cloud2 {
    top: 50%;
    transform: translate(100%, -50%);
    animation: clouds 20s ease infinite;
}

.cloud3 {
    top: 75%;
    transform: translate(100%, -75%);
    animation: clouds 16s ease infinite;
}

@keyframes airplane {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(50px);
    }
}

@keyframes clouds {
    from {
        right: 0;
    }
    to {
        right: 130%;
    }
}