@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="mt-5">Planefall</h1>
    <h3>Helping you book safe flights since 1868</h3>

    <a class="my-5 btn btn-primary btn-lg" asp-controller="Flights" asp-action="Index">Find your flight</a>
</div>