<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/datatables.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    @RenderSection("CustomCss", false)
    <title>@ViewData["Title"] - Planefall</title>
</head>
<body>
<partial name="_NavbarPartial"/>

<main>
    <div class="container mt-4">
        @RenderBody()
    </div>
</main>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<partial name="_ValidationScriptsPartial"/>
<script src="~/js/datatables.js"></script>
<script src="~/js/auto-datatables.js"></script>
@RenderSection("Scripts", false)
</body>
</html>