@using Planefall.Common
<nav class="navbar navbar-expand-md navbar-dark bg-darker">

    <div class="container">
        <a class="navbar-brand" href="/">
            Planefall
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Flights" asp-action="Index">Flights</a>
                </li>
                
                @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Users" asp-action="Index">Users</a>
                    </li>
                }
            </ul>

            <div class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="ml-2 d-md-none">Profile</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <h5 class="dropdown-header">
                                @User.Identity.Name
                            </h5>
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                                Account
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger"
                               href="javascript:document.getElementById('logoutForm').submit()">
                                Logout
                            </a>
                        </div>
                    </li>
                }
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </div>
</nav>

@if (TempData.ContainsKey(GlobalConstants.TempDataSuccessMessageKey))
{
    <div class="alert alert-primary fade show mb-0" role="alert">
        <div class="container d-flex flex-row">
            <p class="pl-3 my-1" style="font-size: large;">@TempData[GlobalConstants.TempDataSuccessMessageKey]</p>
            <div class="ml-auto">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
}

@if (TempData.ContainsKey(GlobalConstants.TempDataErrorMessageKey))
{
    <div class="alert alert-danger fade show mb-0" role="alert">
        <div class="container d-flex flex-row">
            <p class="pl-3 my-1" style="font-size: large;">@TempData[GlobalConstants.TempDataErrorMessageKey]</p>
            <div class="ml-auto">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
}